/* 苹方-简 常规体 */
@font-face {
    font-family: 'PingFangSC-Regular-ttf';
    src: url('./PingFangSC-Regular.ttf') format('truetype');
}
/* 苹方-简 中黑体 */
@font-face {
    font-family: 'PingFangSC-Medium-ttf';
    src: url('./PingFangSC-Medium.ttf') format('truetype');
}
/* 苹方-简 中粗体 */
@font-face {
    font-family: 'PingFangSC-Semibold-ttf';
    src: url('./PingFangSC-Semibold.ttf') format('truetype');
}

/* cat */
@font-face {
    font-family: 'Cat-Pen-ttf';
    src: url('./MaoKenZhuYuanTi-MaokenZhuyuanTi-2.ttf') format('truetype');
}